<%-include("../layouts/header.ejs")%>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Register Account</h2>
      <div class="card my-5">
        <form class="card-body cardbody-color p-lg-5" action="/register" method="post">
          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px" alt="profile">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" value="<%=locals.name%>" id="name" name="name" aria-describedby="emailHelp"
              placeholder="Enter Name" >
          </div> 
          <p class="text-danger"><%= locals.invalidName ? invalidName: "" %></p>
          <div class="mb-3">
            <input type="email" name="email" value="<%=locals.email%>" class="form-control" id="email" placeholder="Enter Email" >
            <p class="text-danger"><%= locals.invalidEmail ? invalidEmail: "" %></p>
          </div>
          
          <div class="mb-3">
            <input type="text" name="mno" value="<%=locals.mno%>" class="form-control" id="mno" placeholder="Enter Mobile" >
            <p class="text-danger"><%= locals.invalidMobile ? invalidMobile: "" %></p>
          </div>
          <div class="mb-3">
            <input type="number" name="age" value="<%=locals.age%>" class="form-control" id="age" placeholder="Enter Age" >
          </div>
          <div class="mb-3">
            <input type="text" name="place" value="<%=locals.place%>" class="form-control" id="place" placeholder="Enter Place" >
          </div>
          <div class="mb-3">
            <input type="password" value="<%=locals.password%>" name="password" class="form-control" id="password" placeholder="Enter Password" >
          </div>
          <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Register</button></div>
        </form>
      </div>
    </div>
  </div>
</div>



<%-include("../layouts/footer.ejs")%>